body {
     font-family: arial, helvetica, serif;
}

/* all lists */
#nav, #nav ul { 
     float: left;
     width: 24em;
     padding: 0;
     list-style: none;
     line-height: 1;
     border: solid #f5f5f5;	
     border-width: 2px 2px;
     margin: 0 0 1em 0;
     background: white
}     

#nav a {
     display: block;
     width: 10em;	
}

/* all list items */
#nav li { 
     float: left;
     padding: 1em;
     width: 10em;
}

/*
Would be nice to use display: none to hide, 
but this won't work with screen readers, so use left:-999em 
to move list out of view and then left: auto to bring it back.
first-level dropdown */
#nav li ul { 
     position: absolute;
     width: 14.4em;
     height: auto;
     border-width: 0.25em;
     margin: 0;
     left: -999em;
}

#nav li li {
     padding-right: 1em;
     width: 12.5em;
}

/* 2nd level dropdowns drop next to their corresponding list item */
#nav li ul ul {
     margin: -2em 0 0 13em;
}

/*Can't have the 2nd level dropdown showing all the time*/
#nav li:hover ul ul, #nav li.iehover ul ul {
     left: -999em;
}

/* Lists should appear when we hover on corresponding list items */
#nav li:hover ul, #nav li li:hover ul, #nav li.iehover ul, #nav li li.iehover ul {
     left: auto;
}

/* Make the choices you are making highlighted */
#nav li:hover, #nav li.sfhover {
     background: #f2f2f2;
}

/* Click and change the color! */
#nav li li li:active, #nav li li li.sfactive {
     background: #c0c0c0;
}

/* floating things, so need to clear left */
#content {
	 clear: left;
}






